.c-login {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: middle;

    &__title {
        
        position: absolute;
    } 


    &__container {
        margin: auto;
        position: absolute;
        background: white;
        width: 100%;
        max-width: 460px;
        border-radius: 15px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 90%;
        margin: 0 auto;
        justify-content: center;
        text-align: center;
        height: 370px;

        &__title-second {
            color: #434343;
            font-size: 1.2em;
            font-weight: bold;
        } 

        &__box-form {
            width: 400px;
            max-width: 100%;
            height: auto;
            margin: 0 auto;
            padding: 1em;
            position: relative;
            
        } 
    
        &__background-gray {
            background-color : #E2E2E2; 
            border-radius: 0.8em;
            border: 0;
            height: 2.5em;
        } 

        &__button-form {
            background-color : #1F9EBC; 
            border-radius: 0.8em;
            border: 0;
            height: 2.5em;

        } 

        &__button-link {
            color : #1F9EBC; 
            text-underline-position: under;

        } 
        

    } 
}