<div class="background-paws">
    <div class="title-responsive">
        <div class="title-pet-diary">
            Pet Diary
        </div>
    </div>
    <div class="c-form">
        <mat-card class="c-form__container">
            <div class="c-form__container__box-form">
                <div class="c-form__container__title-second">
                    Welcome!
                </div>
                <form [formGroup]="form" (ngSubmit)="login()">
                    <div class="row">
                        <input [ngClass]="displayCssFor('email')" class="mt-3 background-form background-color" id="email" formControlName="Email" placeholder="email*"/>
                        <div class="text-danger text-start" *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
                            email is required.
                        </div>
                    </div>
                    <div class="row">
                        <input [ngClass]="displayCssFor('password')" class="mt-3 background-form background-color" formControlName="password" type="Password" placeholder="password*"/>
                        <div class="text-danger text-start" *ngIf="form.get('password')?.touched && form.get('password')?.invalid">
                            password is required.
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn btn-primary c-form__container__button-form mt-4"  type="submit">Log In</button>
                    </div>
                </form>
                <div class="row">
                    <a (click)="createNewAccount()" class="link-primary c-form__container__button-link mt-5">Create an account!</a>
                </div>
            </div>
        </mat-card>
    </div>
</div>
