<div class="background-paws">
    <div class="c-login">
        <!-- <div class="c-login__title">
            Pet Diary
        </div> -->
        <mat-card class="c-login__container">
            <div class="c-login__container__box-form">
                <div class="c-login__container__title-second">
                    Welcome!
                </div>
                <form>
                    <div class="row">
                        <input class="c-login__container__background-gray mt-3" placeholder="email"/>
                    </div>
                    <div class="row">
                        <input class="c-login__container__background-gray mt-3" placeholder="password"/>
                    </div>
                </form>
            </div>
        </mat-card>
    </div>
</div>
