.c-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: middle;

    &__container {
        margin: auto;
        position: absolute;
        background: white;
        width: 100%;
        max-width: 500px;
        border-radius: 15px;

    } 
}