<div class="background-paws">
    <div class="title-responsive">
        <div class="title-pet-diary">
            Pet Diary
        </div>
    </div>
    <div class="c-form">
        <mat-card class="c-form__container">
            <div class="c-form__container__box-form">
                <div class="c-form__container__title-second">
                    Create a new account!
                </div>
                <form>
                    <div class="row">
                        <input class="c-form__container__background-gray mt-3" placeholder="email"/>
                    </div>
                    <div class="row">
                        <input class="c-form__container__background-gray mt-3" type="password" placeholder="password"/>
                    </div>
                    <div class="row">
                        <button class="btn btn-primary c-form__container__button-form mt-4"  type="submit">Create one!</button>
                    </div>
                </form>
                <div class="row">
                    <a href="#" class="link-primary c-form__container__button-link mt-5">Create an account!</a>
                </div>
            </div>
        </mat-card>
    </div>
</div>
