.c-modal {
    box-shadow: 0;
    height: 90%

    &__write-here {
        
        background-color: var(--bg-primary);
    } 
}


.background-modal {
    background-color: var(--bg-primary);
    padding: 1em;
}


textarea {
    width: 100%;
}