
    <form [formGroup]="form" >
        <div class="editor" *ngIf="!isMobile">
            <ngx-editor-menu [editor]="editor">
            </ngx-editor-menu>
            <ngx-editor [editor]="editor" formControlName="editorNameForm">
            </ngx-editor>
        </div>
        <textarea *ngIf="isMobile" formControlName="editorNameForm"></textarea>
        <div class="row mt-3">
            <div class="col-12">
                <button (click)="savePost()" class="btn btn-primary c-form__container__button-form float-end"  type="submit">Post it!</button>
                <a (click)="closeModal()" class="link-primary c-form__container__button-link float-end me-3 mt-1">Cancel</a>
            </div>
        </div>
    </form>
