.c-modal {
    box-shadow: 0;
    height: 90%

    &__write-here {
        
        background-color: var(--bg-primary);
    } 
}


::ng-deep .mat-dialog-container {
    background-color: var(--bg-primary);
}


textarea {
    width: 100%;
}