<app-header></app-header>
<div class="container mt-5">
    <mat-card class="c-posts mt-5">
        <div class="row ms-3 me-3 mb-4" (click)="openDialogPosts()" >
            <input type="text" disabled="disabled" class="background-form mt-3 c-posts__white-here cursor" placeholder="Write about your pet here..."/>
        </div>
        <app-posts-table 
            (deleteItem)="deletePost($event)"
            [list]="posts$ | async"
            *ngIf="(posts$| async)?.length > 0; else noPosts"
        >
        </app-posts-table>
        <ng-template #noPosts>
            <div class="text-center mt-3">Oh no! you don't have any posts yet!</div>
        </ng-template>
    </mat-card>
</div>

