/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

:root {
    height: 100%;
    --bg-primary: #F4F4F4;
    --color-font-primary: #434343;
    --background-paws: url('/assets/background.png');
    
}

:root .dark-theme {
    height: 100%;
    --bg-primary: #294354;
    --color-font-primary: white;
    --background-paws: url('/assets/background-dark-mode.png');
    
}

.material-icons {
    font-family: 'Material Icons' !important;
}


.full-width-dialog .mat-dialog-container {
    max-width: 100vw !important;
    padding: 0 !important;

    @media screen and (max-width: 768px) {
        width: 300px !important;
    }
}

.background-paws {
    background-image: var(--background-paws);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    width: 100vw;
    height: 100vh;
}

.title-pet-diary {
    position: absolute;
    color: white;
    font-size: 2em;
    display: flex;
    height: 100px;
    width: 100%;
    text-align: center;
    justify-content: center;
    bottom: 0;
}

.title-responsive {
    display: table;
    height: 35%;
    width: 100%;
    align-items: end;
    justify-items: end;
    position: absolute;
    max-height: 230px;

    @media screen and (max-width: 768px) {
        height: 25%;
    }
    @media screen and (max-height: 768px) {
        height: 30%;
    }
    
}
a:hover {
    color: #026780 !important;
}

button:hover {
    background-color: #026780 !important;
}

.snack-bar-style {
    background: white;
    color: var(--color-font-primary);
}

.cursor {
    cursor: pointer;
}

img{
    width: 100%;
    max-width: 300px;
}

a {
    cursor: pointer;
}

.background-color {
    background-color : #E2E2E2; 
}

.btn.btn-primary[disabled] {
    background-color: #A3CCD6;
}

input:focus {
    outline: none;
}

.background-form {
    border-radius: 0.8em;
    border: 0;
    height: 2.5em;
}
.c-form {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: middle;


    &__container {
        margin: auto !important;
        position: absolute !important;
        background: var(--bg-primary);
        width: 100%;
        max-width: 460px !important;
        border-radius: 15px !important;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 90%;
        margin: 0 auto;
        justify-content: center;
        text-align: center;
        height: 370px;

        &__title-second {
            color: var(--color-font-primary);
            font-size: 1.2em;
            font-weight: bold;
        } 

        &__box-form {
            width: 400px;
            max-width: 100%;
            height: auto;
            margin: 0 auto;
            padding: 1em;
            position: relative;
            
        } 


        &__button-form {
            background-color : #1F9EBC; 
            border-radius: 0.8em;
            border: 0;
            height: 2.5em;

        } 

        &__button-link {
            color : #1F9EBC; 
            text-underline-position: under;

        } 
        

    } 
}


