/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


.material-icons {
    font-family: 'Material Icons' !important;
}

.background-paws {
    background-image: url('/assets/background.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    width: 100vw;
    height: 100vh;
}

.title-pet-diary {
    position: absolute;
    color: white;
    font-size: 2em;
    display: flex;
    height: 100px;
    width: 100%;
    text-align: center;
    justify-content: center;
    bottom: 0;
}

.title-responsive {
    display: table;
    height: 35%;
    width: 100%;
    align-items: end;
    justify-items: end;
    position: absolute;

    @media screen and (max-width: 768px) {
        height: 25%;
    }
}

.background-form {
    background-color : #E2E2E2; 
}

.c-form {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: middle;


    &__container {
        margin: auto !important;
        position: absolute !important;
        background: white;
        width: 100%;
        max-width: 460px !important;
        border-radius: 15px !important;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 90%;
        margin: 0 auto;
        justify-content: center;
        text-align: center;
        height: 370px;

        &__title-second {
            color: #434343;
            font-size: 1.2em;
            font-weight: bold;
        } 

        &__box-form {
            width: 400px;
            max-width: 100%;
            height: auto;
            margin: 0 auto;
            padding: 1em;
            position: relative;
            
        } 
    
        &__background-form {
            border-radius: 0.8em;
            border: 0;
            height: 2.5em;
        } 

        &__button-form {
            background-color : #1F9EBC; 
            border-radius: 0.8em;
            border: 0;
            height: 2.5em;

        } 

        &__button-link {
            color : #1F9EBC; 
            text-underline-position: under;

        } 
        

    } 
}


